<div class="announcement-component">
    <div>
        Profile Photo
    </div>
    <div class="announcement-component-content">
        <span class="announcement-component-title">{{announcement.title}}</span>
        <div class="announcement-component-description">
            {{announcement.description}}
        </div>
        <hr class="custom-hr">

        <div class="calendar-container">
            <img class="calendar-icon" src="../../assets/images/icons8-calendar-64.png" alt="Paris">
            {{announcement.date}}    
        </div>
    </div>
</div>