.announcement-component{
    display: flex;
    margin-bottom: 21px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.announcement-component-content{
    margin-top: 24px;
}

.announcement-component-title{
    font-weight: bold;
}

.announcement-component-description{
    margin-top: 16px;
    margin-bottom: 17px;
    font-family: "Times New Roman", Times, serif;
}

.calendar-icon{
    width: 21px;
    vertical-align: middle;
}

.custom-hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.profile-photo{
    max-width: 54px;
    padding-top: 27px;
    padding-right: 16px;
    padding-left: 10px;
}