<div class="wrapper">
    <div class="navigation-bar">
        <h1>SA-INTRANET</h1>
        <ul>
            <li>ITEM 1</li>
            <li>ITEM 2</li>
        </ul>
    </div>

    <div class="header">
        test content
    </div>

</div>

<div class="announcement-wrapper">
    <div class="announcement-tools-container">
        <button type="button">+ Add Announcement</button>
        <input type="text" placeholder="Search" class="search">
    </div>    
</div>

<div class="announcements-container">
    <app-announcements *ngFor="let announcement of announcements" [announcement]="announcement"></app-announcements>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  
  </div>
  

<!-- <div style="background-color: white;font-weight: 700;padding-top: 10px;padding-bottom: 10px;">
Tab Name
</div>

<div class="row">
    <span style="float: right;">
        <input type="text" placeholder="Search">
        <button type="button" class="btn btn-success">Add Announcement</button>
    </span>
</div> -->
