
.navigation-bar ul{
    padding-left: 0;
}

.wrapper{
    display: flex;
}

.navigation-bar{
    background-color:red;
    position: fixed;
    height: 100%;
    width: 190px;
    background-color: #252e35;
}

.header{
    background-color: white;
    margin-left: 190px;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    padding-left: 14px;
}

.announcement-tools-container > *{
    margin-top:19px;
    float: right;
}

.search{
    background-color: white;
    margin-right: 46px;
    padding: 6px;
    font-size: small;
}

.announcement-tools-container button,.button-containers .save{
    background-color: #04AA6D;
    padding: 4px;
    margin-right: 10px;
    color: white;
    font-size: small;
    padding: 8px;
}


.search::-webkit-input-placeholder {
    /* IE 10- */
    background-image: url('../../images/search-icon.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
}

.announcements-container{
    margin-left: 240px;
    clear: both;
    margin-top: 72px;
    margin-right: 10px;
}

.announcement-wrapper{
    width: 100%;
}

.announcement-form{
    margin-top:59px;
    font-weight: 400;
    color: rgb(0 0 0 / 35%);
}

.form-title{
    border-width: 2px;
    border-color: rgba(0,0,0,.05);
    width: 100%;
    margin-top: 4px;
    border-width: 3px;
    border-style: groove;
    padding: 2px;
}

.category-wrapper{
    margin-top:39px;
}

.category-wrapper button{
    background-color: rgba(0,0,0,.05);
    border: none;
    color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 13px;
}

.category-wrapper button:hover,.category-wrapper button.active{
    background-color: #04AA6D;
    color: white;
}

.date-wrapper,.description-wrapper{
    margin-top: 39px;
}

.date-input{
    border-style: groove;
    border-color: rgba(0,0,0,.05);
    border-width: 3px;
    width: 134px;
}

.announcement-description{
    border-style: groove;
    border-color: rgba(0,0,0,.05);
    border-width: 3px;
    width:100%;
    resize: none;
}

.button-containers{
    float: right;
    color: white;
    margin-top: 25px;
}

.button-containers .cancel{
    background-color: rgba(0,0,0,.05);
    padding: 4px;
    margin-right: 10px;
    color: black;
    font-size: small;
    padding: 8px;
}

.org-container{
    color: #04AA6D;
    font-size: 21px;
    padding-left: 7px;
    padding-top: 24px;
    margin-bottom: 30px;
}

.hamburger-icon{
    width: 22px;
    vertical-align: bottom;
    cursor: pointer;
}

.navigation-bar li{
    color: white;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation-bar li img{
    width: 26px;
    vertical-align: middle;
    margin-right: 19px;
    height: 24px;
}

.navigation-bar ul{
    list-style-type: none;
}

.navigation-bar .highlight{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.navigation-bar .highlight:hover,.navigation-bar .highlight.active{
    background-color: #04AA6D;
    cursor: pointer;
}