<div class="wrapper">
    <div class="navigation-bar">
        <div class="org-container">
            <h1>SA-INTRANET <img src="../../assets/images/menu.png" alt="Hamburger-Icon" class="hamburger-icon"></h1>
        </div>
        <ul>
            <span class="highlight"><li><img src="../../assets/images/home.png" alt="Home">HOME</li></span>
            <span class="highlight"><li><img src="../../assets/images/tasks.png" alt="Tasks">TASKS</li></span>
            <span class="highlight"><li><img src="../../assets/images/projects.png" alt="Projects">PROJECT MANAGEMENT</li></span>
            <span class="highlight"><li><img src="../../assets/images/book.png" alt="Wiki">WIKI</li></span>
            <span class="highlight"><li><img src="../../assets/images/time.png" alt="Timesheet">TIMESHEET</li></span>
            <span class="highlight active"><li><img src="../../assets/images/announcement.png" alt="Announcement">ANNOUNCEMENT</li></span>
            <span class="highlight"><li><img src="../../assets/images/settings.png" alt="Settings">SETTNGS</li></span>
        </ul>
    </div>

    <div class="header">
        test content
    </div>

</div>

<div class="announcement-wrapper">
    <div class="announcement-tools-container">
        <span class="search-container">
            <input type="text" placeholder="Search" class="search">
            <img class="search-icon hover-cursor" src="../../assets/images/search-icon.png" alt="Search">    
        </span>
        <button type="button" (click)="addAnnouncement()">+ Add Announcement</button>
    </div>    
</div>

<div class="announcements-container">
    <app-announcements *ngFor="let announcement of announcements" [announcement]="announcement"></app-announcements>
</div>

<!-- The Modal -->
<div id="myModal" class="modal"  #modal>

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="announcement-text">Add New Announcement</span>
            <img class="close" src="../../assets/images/close-icon.png" alt="Close">
            <form name="announcement-form" class="announcement-form">
                <label for="title">Subject</label><br>
                <input type="text" id="title" class="form-title">

                <div class="category-wrapper">
                    <label>Select Category</label><br>
                    <button type="button" (click)="addNewAnnouncement()" class="announcement-button">Announcement</button> &nbsp;
                    <button type="button" (click)="addEventTypeContainer()" class="event-button">Event</button>    &nbsp;
                    <button type="button" class="reminder-button">Reminder</button> &nbsp;
                </div>
                <div class="announcement-type-container" style="display: none;" #announcementTypeContainer>
                    <div class="date-wrapper">
                        <label style="display: inline-block;margin-bottom: 3px;">Expiry Date</label> <br>
                        <input type="date" class="date-input" placeholder="date">
                    </div>
    
                    <div class="description-wrapper">
                        <label style="display: inline-block;margin-bottom: 3px;">Description</label> <br>
                        <textarea class="announcement-description" rows="10" cols="100%">
                        
                        </textarea>    
                    </div>
    
                    <div class="button-containers">
                        <button type="button" class="cancel">DISCARD</button> &nbsp;
                        <button type="button" class="save">SAVE</button>
                    </div>
                </div>

                <div class="event-type-container" style="display: none;" #eventTypeContainer>
                    <div class="date-wrapper">
                        <label style="margin-bottom: 3px;">Date</label> <br>
                        <input type="date" class="date-input" placeholder="date">
                    </div>
                    <div class="time-wrapper">
                        <label style="margin-bottom: 3px;">Time</label> <br>
                        <input type="time" class="date-input" placeholder="Time">    
                    </div>
                </div>
            </form>
        </div>

    </div>    
  
  </div>
  

<!-- <div style="background-color: white;font-weight: 700;padding-top: 10px;padding-bottom: 10px;">
Tab Name
</div>

<div class="row">
    <span style="float: right;">
        <input type="text" placeholder="Search">
        <button type="button" class="btn btn-success">Add Announcement</button>
    </span>
</div> -->
